body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.sidebar .logo img{
    margin-right: 5px;
}
.sidebar .logo h2{
    font-weight: 300;
    text-align: center;
}
.sidebar .logo h2 span{
    font-weight: 600;
}

.sidebar .btnSidebar {
    color: white;
    width: 100%;
    border: none;
    background-color: #343a40;
    text-decoration: none;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-weight: 600;
}
.linha{
    background-color: white;
    height: 1px;
    width: 100%;
}
.sidebar .btnSidebar:hover {
    background-color: #2b3035;
}

.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.produtosAdicionados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f9fa;
}

.campoProdutosAdicionados{
    height: 100%;
    margin-bottom: 10px;
}

.card-lista{
    border: solid 1px #bebebe;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.idCliente, .nomeCliente, .cpfCliente, .foneCliente{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    border-right: solid 1px #bebebe;
}
.idCliente p, .nomeCliente p, .cpfCliente p, .foneCliente p{
    margin: 0;
}

.bg-body-tertiary{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.idProduto, .qntProduto, .nomeProduto, .cpfProduto{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    border-right: solid 1px #bebebe;
}
.valorProduto{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
}
.btnDeletarItemCarrinho{
    width: 50px;
    height: 100%;
    border: none;
    background-color: rgba(148, 0, 0, 0.664);
    color: white;
}
.btnDeletarItemCarrinho:hover{
    cursor: pointer;
    background-color: rgba(148, 0, 0, 0.836);
}
.idProduto{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qntProduto{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valorProduto{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valorProduto p span{
    font-weight: 700;
}
.idProduto p, .qntProduto p, .nomeProduto p, .cpfProduto p, .valorProduto p{
    margin: 0;
}